<div class="recipe">
  <h2 class="title"><%= recipe.title %></h2>
  <span class="description"><%= recipe.description %></span>

  <div class="ingredients">
    <h3 class="title">Ingredients</h3>

    <table class="list">
      <% recipe.ingredients.each do |ingredient| %>
        <tr>
          <td class="title"><%= ingredient.title %></td>
          <td class="amount"><%= ingredient.amount %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="steps">
    <h3 class="title">Steps</h3>

    <% recipe.steps.each do |step| %>
      <div class="step">
        <span class="number"><%= step.number %></span>
        <span class="description"><%= step.description %></span>
      </div>
    <% end %>
  </div>
</div>
